<a href="https://colab.research.google.com/github/ugadityaa45/1stdayaccio/blob/main/Another_copy_of_Data_structure_Practice_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists, Tuples, and Sets : Practice Assignment

### Dear students these question will help you build a very strong foundation on data structures specificaly as data analyst

Each problem has:
- **Problem statement**
- **What the expected answer should look like** (an example of the final result/state)
- An **empty code cell** for you to solve it (look for `# write your code here`).

> Tip: Run cells independently.

### List Q1

**Problem:** Write a program to retrieve the value 4 from the list `my_list = [[1, 2], [3, 4], [5, 6]]` using indexing.

**Expected answer should look like (example):**
```
4
```

In [ ]:
# write your code here
my_list = [[1, 2], [3, 4], [5, 6]]
print(my_list[1][1])

4

### List Q2

**Problem:** Write a program to reverse the list `[10, 20, 30, 40, 50]` using slicing and explain how the slicing parameters achieve the result.

**Expected answer should look like (example):**
```
[50, 40, 30, 20, 10]  # slicing: lst[::-1] (start:end:step=-1)
```

In [ ]:
# write your code here
mylist=[10, 20, 30, 40, 50]
print(mylist[::-1])

[50, 40, 30, 20, 10]

### List Q3

**Problem:** Write a program to extract every second element from the list `[1, 2, 3, 4, 5, 6, 7, 8]` using slicing.

**Expected answer should look like (example):**
```
[2, 4, 6, 8]
```

In [ ]:
# write your code here
list=[1, 2, 3, 4, 5, 6, 7, 8]
print(list[1::2])

[2, 4, 6, 8]

### List Q4

**Problem:** Write a program to replace the middle two elements of the list `[10, 20, 30, 40, 50]` with `[99, 100, 101]` using slicing.

**Expected answer should look like (example):**
```
[10, 20, 99, 100, 101, 50]
```

In [ ]:
list1=[10, 20, 30, 40, 50]
list2=[99, 100, 101]
list1[2:4]=list2
print(list1)

[10, 20, 99, 100, 101, 50]

### List Q5

**Problem:** Write a program to transform the list `[1, 2, 3, 4, 5]` into `[1, 99, 100, 101, 4, 5]` by modifying a slice.

**Expected answer should look like (example):**
```
[1, 99, 100, 101, 4, 5]
```

In [ ]:
# Original list
lst = [1, 2, 3, 4, 5]

# Replace elements at index 1 and 2 (2, 3) with [99, 100, 101]
lst[1:3] = [99, 100, 101]

# Print updated list
print(lst)

[1, 99, 100, 101, 4, 5]

### List Q6

**Problem:** Write a program to concatenate two lists without using the `+` operator.

**Expected answer should look like (example):**
```
[...concatenated items...]  # e.g., via unpacking or extend
```

In [ ]:

list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)

print(list1)

[1, 2, 3, 4, 5, 6]

### List Q7

**Problem:** Write a program to demonstrate how the `extend` method behaves if the argument is a string using `my_list = [1, 2, 3]`.

**Expected answer should look like (example):**
```
[1, 2, 3, 'a', 'b', 'c']  # e.g., my_list.extend('abc') adds each char
```

In [ ]:
my_list = [1, 2, 3]
my_list.extend("abc")
print(my_list)

[1, 2, 3, 'a', 'b', 'c']

### List Q8

**Problem:** Write a program that uses `extend` to merge two lists in such a way that duplicates from the second list are not added.

**Expected answer should look like (example):**
```
[merged_unique_list]  # second list's items only if not already present
```

In [ ]:

list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

list1.extend(list2)
l3=set(list1)

print(l3)

{1, 2, 3, 4, 5, 6}

### List Q9

**Problem:** Write a program to create a list of 100 zeros using repetition and then replace every 10th element with 1.

**Expected answer should look like (example):**
```
[1 appears at indices 9,19,29,...]
```

In [ ]:

lst = [0] * 100

for i in range(9, 100, 10):
    lst[i] = 1


print(lst)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]

### List Q10

**Problem:** Write a Python command without using a loop to check if **all** the elements of `[2, 4]` are present in the list `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
True  # e.g., set([2,4]).issubset([1,2,3,4,5])
```

In [ ]:
l1=[2,4]
l2=[1,2,3,4,5]
print(set([2, 4]).issubset([1, 2, 3, 4, 5]))

True

### List Q11

**Problem:** Write a program to use `not in` to filter out all the elements of a list that exist in another list, e.g., removing elements in `[2, 4]` from `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
[1, 3, 5]
```

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [2, 4]

result = []
for x in list1:
    if x not in list2:
        result.append(x)

print(result)

[1, 3, 5]

### List Q12

**Problem:** Create a list of integers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

In [ ]:
# write your code here
list1=[]
for i in range(1,11):
    list1.append(i)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### List Q13

**Problem:** Add an element to the end of a list using `append()`.

**Expected answer should look like (example):**
```
[...original..., 99]
```

In [ ]:
# write your code here
numbers = [10, 20, 30, 40]
numbers.append(99)
print(numbers)

[10, 20, 30, 40, 99]

### List Q14

**Problem:** Insert an element at the second position in a list.

**Expected answer should look like (example):**
```
[first, NEW, rest...]
```

In [ ]:
# write your code here
numbers = [10, 20, 30, 40]
numbers.insert(1, 99)
print(numbers)

[10, 99, 20, 30, 40]

### List Q15

**Problem:** Remove an element from a list using `remove()`.

**Expected answer should look like (example):**
```
[list without that value]
```

In [ ]:
numbers = [10, 20, 30, 40]
numbers.remove(30)
print(numbers)

[10, 20, 40]

### List Q16

**Problem:** Remove and return the last element of a list using `pop()`.

**Expected answer should look like (example):**
```
popped_value  # and list becomes [..., without last]
```

In [ ]:
numbers = [10, 20, 30, 40]
last_item = numbers.pop()
print(numbers)
print("Removed element:", last_item)

[10, 20, 30]
Removed element: 40

### List Q17

**Problem:** Find the length of a list **without** using the `len()` function.

**Expected answer should look like (example):**
```
10  # manual count with loop
```

In [ ]:
numbers = [10, 20, 30, 40, 50]

count = 0
for _ in numbers:
    count += 1

print("Length of list:", count)

Length of list: 5

### List Q18

**Problem:** Slice a list to get the first 5 elements.

**Expected answer should look like (example):**
```
lst[:5] -> first five elements
```

In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70]
first_five = numbers[:5]
print(first_five)

[10, 20, 30, 40, 50]

### List Q19

**Problem:** Reverse a list using slicing.

**Expected answer should look like (example):**
```
reversed_list  # lst[::-1]
```

In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70]
reversed_list=numbers[::-1]
print(reversed_list)

[70, 60, 50, 40, 30, 20, 10]

### List Q20

**Problem:** Check if an element exists in a list using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [ ]:
numbers = [10, 20, 30, 40, 50]

if 30 in numbers:
    print("True")
else:
    print("False")

True

### List Q21

**Problem:** Concatenate two lists using the `+` operator.

**Expected answer should look like (example):**
```
[combined elements]
```

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

result = list1 + list2
print(result)

[1, 2, 3, 4, 5, 6]

### List Q22

**Problem:** Find the sum of all elements in a list.

**Expected answer should look like (example):**
```
numeric_sum
```

In [ ]:
numbers = [10, 20, 30, 40, 50]

total = sum(numbers)
print("Sum of elements:", total)

Sum of elements: 150

### List Q23

**Problem:** Use list comprehension to generate a list of odd numbers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 3, 5, 7, 9]
```

In [ ]:
odd_numbers = [x for x in range(1, 11) if x % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9]

### List Q24

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [ ]:
numbers = [1, 2, 2, 3, 4, 4, 5]

unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 4, 5}

### List Q25

**Problem:** Convert a string to a list of its characters.

**Expected answer should look like (example):**
```
['h','e','l','l','o']
```

In [ ]:
text = "Hello"
char_list = list(text)
print(char_list)

['H', 'e', 'l', 'l', 'o']

### List Q26

**Problem:** Multiply all items in a list using a loop.

**Expected answer should look like (example):**
```
product_value
```

In [ ]:
numbers = [1, 2, 3, 4, 5]
product = 1

for num in numbers:
    product *= num

print("Product of all elements:", product)

### List Q27

**Problem:** Sort a list of numbers in ascending order.

**Expected answer should look like (example):**
```
[sorted numbers asc]
```

In [ ]:
numbers = [40, 10, 30, 20, 50]
numbers.sort()
print(numbers)

[10, 20, 30, 40, 50]

### List Q28

**Problem:** Clear all elements from a list using `clear()`.

**Expected answer should look like (example):**
```
[]
```

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.clear()
print(numbers)

[]

### List Q29

**Problem:** Use a `while` loop to iterate through a list.

**Expected answer should look like (example):**
```
each element printed/processed
```

In [ ]:
numbers = [10, 20, 30, 40, 50]
i = 0

while i < len(numbers):
    print(numbers[i])
    i += 1

10
20
30
40
50

### List Q30

**Problem:** Use a `for` loop with `enumerate()` to print index and value.

**Expected answer should look like (example):**
```
index: value
```

In [ ]:
numbers = [10, 20, 30, 40, 50]

for index, value in enumerate(numbers):
    print("Index:", index, "Value:", value)

Index: 0 Value: 10
Index: 1 Value: 20
Index: 2 Value: 30
Index: 3 Value: 40
Index: 4 Value: 50

### List Q31

**Problem:** Find the index of an element in a list using `index()`.

**Expected answer should look like (example):**
```
integer_index
```

In [ ]:
numbers = [10, 20, 30, 40, 50]

position = numbers.index(30)
print("Index of 30:", position)

Index of 30: 2

### Tuples Q1

**Problem:** Create a tuple with elements from 1 to 5.

**Expected answer should look like (example):**
```
(1, 2, 3, 4, 5)
```

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

### Tuples Q2

**Problem:** Access the third element in a tuple.

**Expected answer should look like (example):**
```
value_at_index_2
```

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
third_element = my_tuple[2]
print(third_element)

30

### Tuples Q3

**Problem:** Slice a tuple to get the last 3 elements.

**Expected answer should look like (example):**
```
(last3,)
```

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
last_three = my_tuple[-3:]
print(last_three)

(30, 40, 50)

### Tuples Q4

**Problem:** Check if an element exists in a tuple using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [ ]:
my_tuple = (10, 20, 30, 40, 50)

if 30 in my_tuple:
    print("True")
else:
    print("False")

True

### Tuples Q5

**Problem:** Find the index of an element in a tuple.

**Expected answer should look like (example):**
```
integer_index
```

In [ ]:
my_tuple = (10, 20, 30, 40, 50)

position = my_tuple.index(30)
print("Index of 30:", position)

Index of 30: 2

### Tuples Q6

**Problem:** Count the occurrences of an element in a tuple.

**Expected answer should look like (example):**
```
count_value
```

In [ ]:
my_tuple = (10, 20, 30, 20, 40, 20, 50)

count_20 = my_tuple.count(20)
print("Number of occurrences of 20:", count_20)

Number of occurrences of 20: 3

### Tuples Q7

**Problem:** Create a nested tuple and access an element from it.

**Expected answer should look like (example):**
```
nested_value
```

In [ ]:

nested_tuple = (1, 2, (10, 20, 30), 4, 5)

element = nested_tuple[2][1]
print(element)

20

### Tuples Q8

**Problem:** Check if two tuples are equal.

**Expected answer should look like (example):**
```
True/False
```

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

are_equal = tuple1 == tuple2
print(are_equal)

True

### Tuples Q9

**Problem:** Convert a list to a tuple.

**Expected answer should look like (example):**
```
tuple(list)
```

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

### Tuples Q10

**Problem:** Create a tuple of integers and find its sum.

**Expected answer should look like (example):**
```
sum_value
```

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
total = sum(my_tuple)
print("Sum of tuple elements:", total)

Sum of tuple elements: 150

### Tuples Q11

**Problem:** Create a tuple using the `tuple()` constructor.

**Expected answer should look like (example):**
```
tuple_from_iterable
```

In [ ]:

my_tuple = tuple([10, 20, 30, 40, 50])
print(my_tuple)

(10, 20, 30, 40, 50)

### Tuples Q12

**Problem:** Use a `for` loop to iterate through a tuple.

**Expected answer should look like (example):**
```
elements printed/processed
```

In [ ]:
my_tuple = (10, 20, 30, 40, 50)

for item in my_tuple:
    print(item)

10
20
30
40
50

### Tuples Q13

**Problem:** Try modifying a tuple element and handle the error.

**Expected answer should look like (example):**
```
TypeError handled
```

In [ ]:
my_tuple = (10, 20, 30)

try:
    my_tuple[1] = 99
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment

### Tuples Q14

**Problem:** Unpack a tuple into individual variables.

**Expected answer should look like (example):**
```
a b c ... assigned
```

In [ ]:
my_tuple = (10, 20, 30)

a, b, c = my_tuple

print("a =", a)
print("b =", b)
print("c =", c)

a = 10
b = 20
c = 30

### Tuples Q15

**Problem:** Use a tuple inside a dictionary as a key.

**Expected answer should look like (example):**
```
{(1,2): 'value'}
```

In [ ]:

my_dict = {
    (1, 2): "a",
    (3, 4): "b"
}

print(my_dict[(1, 2)])
print(my_dict[(3, 4)])

a
b

### Tuples Q16

**Problem:** Find the length of a tuple using `len()`.

**Expected answer should look like (example):**
```
length_value
```

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
length = len(my_tuple)
print("Length of tuple:", length)

Length of tuple: 5

### Tuples Q17

**Problem:** Compare two tuples using relational operators.

**Expected answer should look like (example):**
```
True/False based on lexicographic
```

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 3, 2)

print(tuple1 < tuple2)   # True
print(tuple1 > tuple2)   # False
print(tuple1 == tuple2)  # False

True
False
False

### Tuples Q18

**Problem:** Use `max()` and `min()` with a tuple.

**Expected answer should look like (example):**
```
max_value, min_value
```

In [ ]:
my_tuple = (10, 20, 30, 40, 50)

maximum = max(my_tuple)
minimum = min(my_tuple)

print("Maximum:", maximum)
print("Minimum:", minimum)

Maximum: 50
Minimum: 10

### Tuples Q19

**Problem:** Use a tuple inside another tuple and access nested values.

**Expected answer should look like (example):**
```
nested_value
```

In [ ]:

nested_tuple = (1, 2, (10, 20, 30), 4, 5)
value = nested_tuple[2][1]
print(value)

20

### Tuples Q20

**Problem:** Check the memory size of a tuple versus a list using `sys.getsizeof()`.

**Expected answer should look like (example):**
```
e.g., tuple_size < list_size (often)
```

In [ ]:
import sys

my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)

list_size = sys.getsizeof(my_list)
tuple_size = sys.getsizeof(my_tuple)

print("Memory size of list:", list_size)
print("Memory size of tuple:", tuple_size)

Memory size of list: 104
Memory size of tuple: 80

### Sets Q1

**Problem:** Create a set with integers from 10 to 15.

**Expected answer should look like (example):**
```
{10, 11, 12, 13, 14, 15} (order may vary)
```

In [ ]:
my_set = set(range(10, 16))
print(my_set)

{10, 11, 12, 13, 14, 15}

### Sets Q2

**Problem:** Add multiple elements to a set using `update()`.

**Expected answer should look like (example):**
```
{...includes new elements...}
```

In [ ]:
my_set = {10, 20, 30}
my_set.update([40, 50, 60])
print(my_set)

{40, 10, 50, 20, 60, 30}

### Sets Q3

**Problem:** Check if a set is a subset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [ ]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

is_subset = set1.issubset(set2)
print(is_subset)

True

### Sets Q4

**Problem:** Check if a set is a superset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

is_superset = set1.issuperset(set2)
print(is_superset)

True

### Sets Q5

**Problem:** Find the difference between two sets.

**Expected answer should look like (example):**
```
A - B set
```

In [ ]:
setA = {1, 2, 3, 4, 5}
setB = {3, 4, 5, 6, 7}

difference = setA - setB
print(difference)

{1, 2}

### Sets Q6

**Problem:** Create a set of multiples of 3 from 1 to 15.

**Expected answer should look like (example):**
```
{3, 6, 9, 12, 15}
```

In [ ]:
multiples_of_3 = {x for x in range(1, 16) if x % 3 == 0}
print(multiples_of_3)

{3, 6, 9, 12, 15}

### Sets Q7

**Problem:** Remove an element from a set using `discard()`.

**Expected answer should look like (example):**
```
set without that element (no error if missing)
```

In [ ]:
my_set = {10, 20, 30, 40}
my_set.discard(30)
print(my_set)

{40, 10, 20}

### Sets Q8

**Problem:** Check if a set is empty.

**Expected answer should look like (example):**
```
True/False
```

In [ ]:
my_set = set()

is_empty = len(my_set) == 0
print(is_empty)

True

### Sets Q9

**Problem:** Find the maximum element in a set.

**Expected answer should look like (example):**
```
max_value
```

In [ ]:
my_set = {10, 20, 30, 40, 50}

max_value = max(my_set)
print(max_value)

50

### Sets Q10

**Problem:** Find the minimum element in a set.

**Expected answer should look like (example):**
```
min_value
```

In [ ]:
my_set = {10, 20, 30, 40, 50}

min_value = min(my_set)
print(min_value)

10

### Sets Q11

**Problem:** Create a frozen set with elements 'a', 'b', and 'c'.

**Expected answer should look like (example):**
```
frozenset({'a','b','c'})
```

In [ ]:
my_frozenset = frozenset(['a', 'b', 'c'])
print(my_frozenset)

frozenset({'b', 'a', 'c'})

### Sets Q12

**Problem:** Check if a frozen set is immutable by attempting to add an element.

**Expected answer should look like (example):**
```
AttributeError shown/handled
```

In [ ]:
my_frozenset = frozenset(['a', 'b', 'c'])

try:
    my_frozenset.add('d')  # Attempt to add an element
except AttributeError as e:
    print("Error:", e)

Error: 'frozenset' object has no attribute 'add'

### Sets Q13

**Problem:** Find the union of a frozen set with a regular set.

**Expected answer should look like (example):**
```
combined set
```

In [ ]:
fset = frozenset(['a', 'b', 'c'])
rset = {'c', 'd', 'e'}

combined = fset.union(rset)
print(combined)

frozenset({'b', 'd', 'e', 'a', 'c'})

### Sets Q14

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(my_list)
print(unique_set)

{1, 2, 3, 4, 5}

### Sets Q15

**Problem:** Create a set comprehension to generate squares of numbers from 1 to 5.

**Expected answer should look like (example):**
```
{1,4,9,16,25}
```

In [ ]:
squares = {x**2 for x in range(1, 6)}
print(squares)

{1, 4, 9, 16, 25}

### Sets Q16

**Problem:** Use the `intersection()` method on two sets.

**Expected answer should look like (example):**
```
A  B
```

In [ ]:
setA = {1, 2, 3, 4, 5}
setB = {4, 5, 6, 7}

intersection = setA.intersection(setB)
print(intersection)

{4, 5}

### Sets Q17

**Problem:** Use `symmetric_difference()` between two sets.

**Expected answer should look like (example):**
```
(A  B) set
```

In [ ]:
setA = {1, 2, 3, 4, 5}
setB = {4, 5, 6, 7}

sym_diff = setA.symmetric_difference(setB)
print(sym_diff)

{1, 2, 3, 6, 7}

### Sets Q18

**Problem:** Iterate over elements of a set using a loop.

**Expected answer should look like (example):**
```
elements printed (order arbitrary)
```

In [ ]:
my_set = {10, 20, 30, 40, 50}

for element in my_set:
    print(element)

50
20
40
10
30

### Sets Q19

**Problem:** Count elements in a set using `len()`.

**Expected answer should look like (example):**
```
integer_count
```

In [ ]:
my_set = {10, 20, 30, 40, 50}
integer_count = len(my_set)
print(integer_count)

5

### Sets Q20

**Problem:** Copy a set using `copy()` and verify it is separate.

**Expected answer should look like (example):**
```
True when A is B is False; mutation doesn't affect copy
```

In [ ]:
setA = {1, 2, 3}
setB = setA.copy()

print(setA is setB)

setA.add(4)
print("Original set:", setA)
print("Copied set:", setB)

False
Original set: {1, 2, 3, 4}
Copied set: {1, 2, 3}

## Submission Note

Dear student, kindly save this file on your computer and fill the assignment form that is there in your WhatsApp group to submit this assignment.