<a href="https://colab.research.google.com/github/ugadityaa45/1stdayaccio/blob/main/Copy_of_Pandas_Practice_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Practice Notebook
Dear Students this notebook will help you practice Important Pandas operations step-by-step.

## 1. File Import using Pandas
Below are some examples to import files in Pandas and practice questions.

In [ ]:
# Example: Importing CSV, Excel, and JSON files
import pandas as pd

# Read CSV
df_csv = pd.read_csv('data.csv')

# Read Excel
df_excel = pd.read_excel('data.xlsx')

# Read JSON
df_json = pd.read_json('data.json')

### Practice Questions
1. Import the file `sales.csv` and display the first 5 rows.
2. Import the Excel file `students.xlsx` and check its columns.
3. Import any JSON file and find its shape.

In [6]:
# Answer here
import pandas as pd
df_csv = pd.read_csv('data.csv')

print(df_csv.head())

# 2. Import the Excel file and check its columns
students_df = pd.read_excel("/content/student.xlsx.xlsx")
print(students_df.columns)

# # 3. Import a JSON file and find its shape
data_df = pd.read_json("/content/Student_JSON.json")
print(data_df.shape)

Shape of the JSON file:
(100, 7)

## 2. File Export using Pandas
You can export data to different formats like CSV, Excel, and JSON.

In [7]:
# Example: Exporting DataFrame to different formats
df.to_csv('output.csv', index=False)
df.to_excel('output.xlsx', index=False)
df.to_json('output.json')

NameError: name 'df' is not defined

### Practice Questions
1. Export any given DataFrame to CSV format without index.
2. Export the same DataFrame to Excel with the name 'Sheet1'.
3. Export to JSON format with indentation.

In [11]:
import pandas as pd

data = {
    'Name': ['Amit', 'Riya', 'Karan'],
    'Age': [23, 21, 25],
    'City': ['Delhi', 'Mumbai', 'Pune']
}

df = pd.DataFrame(data)

# Export to CSV without index
df.to_csv("students.csv", index=False)

# Export to Excel with sheet name 'Sheet1'
df.to_excel("students.xlsx", sheet_name='Sheet1', index=False)

# Export to JSON with indentation
df.to_json("students.json", indent=4)

## 3. Creating Series and DataFrames

In [14]:
# Example: Creating Series and DataFrame
series = pd.Series([10, 20, 30], name='Sales')
data = {'Name': ['Amit', 'Riya', 'John'], 'Age': [22, 24, 26]}
df = pd.DataFrame(data)
print(series)
print(df)

0    10
1    20
2    30
Name: Sales, dtype: int64
   Name  Age
0  Amit   22
1  Riya   24
2  John   26

### Practice Questions
1. Create a Series of 5 numbers named 'Marks'.
2. Create a DataFrame of 3 students with columns 'Name', 'Score', 'City'.
3. Print shape, head, and describe of your DataFrame.

In [27]:
# Answer here
series = pd.Series([10,20,30,40,50] , name='Marks')
print(series)

# 2
data = {
    'Name': ['Amit', 'Riya', 'Karan'],
    'Score': [85, 90, 78],
    'City': ['Delhi', 'Mumbai', 'Pune'],
    'Age': [22, 25, 24]
}

students_df = pd.DataFrame(data)

print(students_df)

# Print shape
print(students_df.shape)

# Print first few rows
print(students_df.head())

# Print summary statistics
print(students_df.describe())

0    10
1    20
2    30
3    40
4    50
Name: Marks, dtype: int64
    Name  Score    City  Age
0   Amit     85   Delhi   22
1   Riya     90  Mumbai   25
2  Karan     78    Pune   24
(3, 4)
    Name  Score    City  Age
0   Amit     85   Delhi   22
1   Riya     90  Mumbai   25
2  Karan     78    Pune   24
           Score        Age
count   3.000000   3.000000
mean   84.333333  23.666667
std     6.027714   1.527525
min    78.000000  22.000000
25%    81.500000  23.000000
50%    85.000000  24.000000
75%    87.500000  24.500000
max    90.000000  25.000000

## 4. Indexing and Slicing in Pandas

In [22]:
# Example: Indexing and Slicing
df['Name']
df[['Name', 'Age']]
df.iloc[0:2]
df.loc[df['Age'] > 22]

   Name  Age
1  Riya   24
2  John   26

### Practice Questions
1. Select only the 'Score' column from your DataFrame.
2. Retrieve rows from index 1 to 3.
3. Filter rows where 'Age' > 23.

In [28]:
# Answer here
score_column = students_df['Score']
print(score_column)

# Retrieve rows from index 1 to 3 (using iloc)
selected_rows = students_df.iloc[1:4]
print("Rows from index 1 to 3:")
print(selected_rows)

# Filter rows where Age > 23
filtered_df = students_df[students_df['Age'] > 23]
print("Rows where Age > 23:")
print(filtered_df)

0    85
1    90
2    78
Name: Score, dtype: int64
Rows from index 1 to 3:
    Name  Score    City  Age
1   Riya     90  Mumbai   25
2  Karan     78    Pune   24
Rows where Age > 23:
    Name  Score    City  Age
1   Riya     90  Mumbai   25
2  Karan     78    Pune   24

## 5. Merging and Concatenation

In [29]:
# Example: Merge and Concat
df1 = pd.DataFrame({'ID': [1,2], 'Name': ['A', 'B']})
df2 = pd.DataFrame({'ID': [1,2], 'Score': [85, 90]})
merged = pd.merge(df1, df2, on='ID')
print(merged)

# Concat
df3 = pd.concat([df1, df2], axis=0, ignore_index=True)

   ID Name  Score
0   1    A     85
1   2    B     90

### Practice Questions
1. Merge two DataFrames 'students' and 'marks' on 'ID'.
2. Perform left join between two given DataFrames.
3. Concatenate two DataFrames vertically and reset the index.

In [34]:
# Answer here
import pandas as pd
students = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Amit', 'Riya', 'Karan', 'Neha'],
    'City': ['Delhi', 'Mumbai', 'Pune', 'Kolkata']
})

marks = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Score': [85, 90, 78, 88]
})

# Merge the two DataFrames on 'ID'
merged_df = pd.merge(students, marks, on='ID')

print("Merged DataFrame:")
print(merged_df)


# Perform left join on 'ID'
left_join_df = pd.merge(students, marks, on='ID', how='left')

print("Result of Left Join:")
print(left_join_df)

# Concatenate vertically and reset index
combined_df = pd.concat([df1, df2], axis=0).reset_index(drop=True)

print("Concatenated DataFrame:")
print(combined_df)

Merged DataFrame:
   ID   Name     City  Score
0   1   Amit    Delhi     85
1   2   Riya   Mumbai     90
2   3  Karan     Pune     78
3   4   Neha  Kolkata     88
Result of Left Join:
   ID   Name     City  Score
0   1   Amit    Delhi     85
1   2   Riya   Mumbai     90
2   3  Karan     Pune     78
3   4   Neha  Kolkata     88
Concatenated DataFrame:
   ID Name  Score
0   1    A    NaN
1   2    B    NaN
2   1  NaN   85.0
3   2  NaN   90.0

## 6. Pivot Tables and GroupBy

In [35]:
# Example: Pivot and GroupBy
df = pd.DataFrame({'Region': ['North', 'South', 'North'], 'Month': ['Jan', 'Jan', 'Feb'], 'Sales': [250, 300, 400]})

pivot = df.pivot_table(values='Sales', index='Region', columns='Month', aggfunc='sum', fill_value=0)
grouped = df.groupby('Region')['Sales'].sum()
print(pivot)
print(grouped)

Month   Feb  Jan
Region
North   400  250
South     0  300
Region
North    650
South    300
Name: Sales, dtype: int64

### Practice Questions
1. Group the DataFrame by 'Month' and find total sales.
2. Create a pivot table to show Region-wise total sales.
3. Group data by 'Region' and count number of entries.

In [38]:
df = pd.DataFrame({
    'Region': ['North', 'South', 'North'],
    'Month': ['Jan', 'Jan', 'Feb'],
    'Sales': [250, 300, 400]
})

# Group by 'Month' and calculate total sales
monthly_sales = df.groupby('Month')['Sales'].sum()

print("Total Sales by Month:")
print(monthly_sales)


# Create pivot table for Region-wise total sales
pivot = df.pivot_table(values='Sales', index='Region', aggfunc='sum')
print("Region-wise Total Sales (Pivot Table):")
print(pivot)

# Group by 'Region' and count number of entries
region_counts = df.groupby('Region').size()

print("Number of Entries per Region:")
print(region_counts)

Total Sales by Month:
Month
Feb    400
Jan    550
Name: Sales, dtype: int64
Region-wise Total Sales (Pivot Table):
        Sales
Region
North     650
South     300
Number of Entries per Region:
Region
North    2
South    1
dtype: int64

## Optional Practice (Medium Level)
These questions test your overall understanding of Pandas.

1. Import a dataset and clean all missing values, rename columns properly, and export it back to Excel.

Dataset- https://drive.google.com/file/d/1kw_Sdib3WCo_acQYA851poCUdKcWgfYs/view?usp=sharing

In [39]:
df = pd.read_csv("messy_data.csv")
print("Original DataFrame:")
print(df.head())

# 2. Clean missing values (remove rows with any NaN values)
df_cleaned = df.dropna()

# 3. Rename columns properly
df_cleaned.rename(columns={
    'Name ': 'Name',
    ' Age': 'Age',
    'City_': 'City'
}, inplace=True)

# 4. Export cleaned data back to Excel
df_cleaned.to_excel("cleaned_data.xlsx", index=False, sheet_name='CleanData')

Original DataFrame:
     Name   Age(Years)    City  Sales( Rs)
0     Amit        25.0   Delhi      2500.0
1   Priya          NaN  Mumbai      3000.0
2      NaN        30.0   Delhi         NaN
3    Rohan        22.0     NaN      2000.0
4     Neha        28.0    Pune      4000.0

/tmp/ipython-input-3547513027.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.rename(columns={

2. Combine multiple CSV files from a folder into one DataFrame and find top 5 entries by a numeric column like 'Sales'.

Dataset- https://drive.google.com/drive/folders/1zgJs_6r8Aa_-93YXmYXfxOK5L4hVUI9Q?usp=sharing

In [43]:
import pandas as pd

# 1. Read each CSV file manually
jan = pd.read_csv("/content/sales_jan.csv")
feb = pd.read_csv("/content/sales_feb.csv")
mar = pd.read_csv("/content/sales_mar.csv")

# 2. Combine all DataFrames vertically
combined_df = pd.concat([jan, feb, mar], ignore_index=True)

# 3. Display combined DataFrame
print("Combined DataFrame:")
print(combined_df.head())

# 4. Find top 5 entries by 'Sales'
top5_sales = combined_df.sort_values(by='Sales', ascending=False).head(5)

print("\nTop 5 Entries by Sales:")
print(top5_sales)

Combined DataFrame:
   ID Product  Sales Month
0   1       A   1200   Jan
1   2       B   1500   Jan
2   3       C   1100   Jan
3   4       D    900   Jan
4   5       E   1700   Jan

Top 5 Entries by Sales:
    ID Product  Sales Month
9   10       E   1750   Feb
4    5       E   1700   Jan
14  15       E   1650   Mar
6    7       B   1600   Feb
1    2       B   1500   Jan