<a href="https://colab.research.google.com/github/ugadityaa45/1stdayaccio/blob/main/Copy_of_Pandas_1st(mini_assignment).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas First Exercises
Dear Students this notebook contains simple exercises for beginners to practice basic Pandas operations such as creating Series, DataFrames, saving files, and importing data.

### Exercise 1: Creating Pandas Series

1. Create a Pandas Series containing the marks of 5 students in Maths.
2. Create a Pandas Series that stores 5 city names.
3. Create a Pandas Series with 5 different floating-point numbers representing temperature readings.

In [ ]:
import pandas as pd

Maths_marks = [10, 20, 30, 40, 50]
s = pd.Series(Maths_marks)

print(s)
City_Name=["aligarh","noida","ghz","delhi","Mumbai"]
print(pd.Series(City_Name))
temperatures = pd.Series([36.5, 37.2, 38.0, 36.8, 37.5])

print(temperatures)

0    10
1    20
2    30
3    40
4    50
dtype: int64
0    aligarh
1      noida
2        ghz
3      delhi
4     Mumbai
dtype: object
0    36.5
1    37.2
2    38.0
3    36.8
4    37.5
dtype: float64

### Exercise 2: Creating DataFrames from Series

1. Create two Series: one containing student names and another containing their ages. Combine them into a single DataFrame.
2. Create three Series: 'Product Name', 'Price', and 'Quantity'. Combine them into one DataFrame and display it.

In [ ]:
students = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([20, 22, 19, 21])

data = pd.DataFrame({
    'Name': students,
    'Age': ages
})

print(data)


product_name = pd.Series(['Laptop', 'Mouse', 'Keyboard'])
price = pd.Series([60000, 800, 1500])
quantity = pd.Series([5, 20, 10])

df = pd.DataFrame({
    'Product Name': product_name,
    'Price': price,
    'Quantity': quantity
})

print(df)

      Name  Age
0    Alice   20
1      Bob   22
2  Charlie   19
3    David   21
  Product Name  Price  Quantity
0       Laptop  60000         5
1        Mouse    800        20
2     Keyboard   1500        10

### Exercise 3: Creating DataFrames from Dictionaries

1. Create a dictionary with keys as 'Name', 'Age', and 'City', each containing a list of 3 values. Convert it into a DataFrame.
2. Create a dictionary with keys 'Product', 'Category', and 'Price'. Convert it into a DataFrame and print it.

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [20, 22, 19],
    'City': ['Delhi', 'Mumbai', 'Kolkata']
}

df = pd.DataFrame(data)

print(df)

data1= {
    'Product': ['Laptop', 'Shampoo', 'Book'],
    'Category': ['Electronics', 'Personal Care', 'Stationery'],
    'Price': [60000, 250, 120]
}

df = pd.DataFrame(data1)


print(df)

      Name  Age     City
0    Alice   20    Delhi
1      Bob   22   Mumbai
2  Charlie   19  Kolkata
   Product       Category  Price
0   Laptop    Electronics  60000
1  Shampoo  Personal Care    250
2     Book     Stationery    120

### Exercise 4: Saving DataFrames to CSV and Excel

1. Save any one of your created DataFrames into a CSV file named 'students.csv'.
2. Save another DataFrame into an Excel file named 'products.xlsx'.

In [ ]:
df.to_csv('students.csv', index=False)
df.to_excel('data.xlsx',index=False)

In [ ]:
#answer here

### Exercise 5: Reading Data from Files

1. Use Pandas to read the CSV file 'students.csv' that you created earlier.
2. Use Pandas to read the Excel file 'products.xlsx' that you created earlier.

In [ ]:
var=pd.read_csv("/content/students.csv")
# print(var)
var2=pd.read_excel("/content/data.xlsx")
print(var2)

      Name  Age     City
0    Alice   20    Delhi
1      Bob   22   Mumbai
2  Charlie   19  Kolkata